body {
  background-color: #55fcce;
  margin: 0;
}

#container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#cookie {
  display: block;
  margin: 0 auto;
}

#inner {
  justify-self: center;
}

#message {
  margin: 10vh 2vh 0 2vh;
  text-align: center;
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

#emoji {
  font-size: 4em;
}

#help {
    font-size: 2em;
    font-weight: bold;
}

.showed {
    color: white !important;
  /* color: rgb(176, 64, 32) !important; */
}
